language: python

stages:
  - linting
  - test
  - build
# TODO: needs additional setup
#  - deploy

before_install:
  - pip install codecov
  - |
        if [ "$TRAVIS_PYTHON_VERSION" = "pypy" ]; then
          export PYENV_ROOT="$HOME/.pyenv"
          if [ -f "$PYENV_ROOT/bin/pyenv" ]; then
            pushd "$PYENV_ROOT" && git pull && popd
          else
            rm -rf "$PYENV_ROOT" && git clone --depth 1 https://github.com/yyuu/pyenv.git "$PYENV_ROOT"
          fi
          export PYPY_VERSION="5.6.0"
          "$PYENV_ROOT/bin/pyenv" install --skip-existing "pypy-$PYPY_VERSION"
          virtualenv --python="$PYENV_ROOT/versions/pypy-$PYPY_VERSION/bin/python" "$HOME/virtualenvs/pypy-$PYPY_VERSION"
          source "$HOME/virtualenvs/pypy-$PYPY_VERSION/bin/activate"
        fi

install:
  - pip install .
before_script:
  - cd tests/config
  - bash create_ssl_certs.sh -h localhost -i 127.0.0.1
  - cd ../..
  - docker-compose -f tests/config/docker-compose.yml down
  - docker-compose -f tests/config/docker-compose.yml up -d
  - sleep 40
  - "curl -u admin:admin 'http://127.0.0.1:9000/api/search/universal/relative?query=test&range=5&fields=message' || true"
script:
  - python setup.py test
after_script:
  - docker-compose -f tests/config/docker-compose.yml down
after_success:
  - codecov

jobs:
  include:
    - python: 2.7
    - python: 3.4
    - python: 3.5
    - python: 3.6
    - python: 3.7
      dist: xenial
    - python: pypy
    - python: pypy3
    - stage: linting
      python:
        - 3.6
      before_script: skip
      after_script: skip
      script:
        - python setup.py lint || exit $(($? & 35))
    - stage: build
      python:
        - 3.6
      before_script: skip
      after_script: skip
      script:
        - python setup.py sdist
# TODO: fill in for automatic pypi releases
#    - stage: deploy
#      deploy:
#        provider: pypi
#        user: # TODO: FILL IN
#        password:
#          secure: # TODO: fill in
#        on:
#          python: 3.6
#          tags: true
#          repo: severb/graypy
