language: python

stages:
  - lint
  - test
  - build
# TODO: needs additional setup
#  - deploy

before_install:
  - pip install codecov

install:
  - pip install .

before_script:
  - cd tests/config
  - bash create_ssl_certs.sh -h localhost -i 127.0.0.1
  - cd ../..
  - docker-compose -f tests/config/docker-compose.yml down
  - docker-compose -f tests/config/docker-compose.yml up -d
  - sleep 40
  - "curl -u admin:admin 'http://127.0.0.1:9000/api/search/universal/relative?query=test&range=5&fields=message' || true"

script:
  - python setup.py test

after_script:
  - docker-compose -f tests/config/docker-compose.yml down

after_success:
  - codecov

jobs:
  include:
    - python: 2.7
    - python: 3.4
    - python: 3.5
    - python: 3.6
    - python: 3.7
      dist: xenial
    - python: pypy
    - python: pypy3
    - stage: lint
      python:
        - 3.6
      before_script: skip
      after_script: skip
      script:
        - python setup.py lint || exit $(($? & 35))
    - stage: build
      name: "sdist"
      python:
        - 3.6
      before_script: skip
      script:
        - python setup.py sdist
      after_script: skip
    - name: "bdist_wheel"
      python:
        - 3.6
      install:
        - pip install . wheel
      before_script: skip
      script:
        - python setup.py bdist_wheel
      after_script: skip
# TODO: fill in for automatic pypi releases
#    - stage: deploy
#      deploy:
#        python:
#          - 3.6
#        provider: pypi
#        user: # TODO: FILL IN
#        password:
#          secure: # TODO: fill in
#        on:
#          tags: true
#          branch: master
#          repo: severb/graypy
#        distributions: "sdist bdist_wheel"
