[
{rabbit,
[
    {default_user, "rabbitmq"},
    {default_pass, "rabbitmq"},
    {default_permissions, [".*", ".*", ".*"]},
    {default_user_tags, [administrator]}
]
},
{rabbitmq_management,
    [{listener, [{port, 15672}]},
     {load_definitions, "/etc/rabbitmq/rabbitmq_definitions.json"},
     {http_log_dir, "/var/log/rabbitmq/management_http.log"}]
}
].